.container {
	padding: 24rpx;
}
.title {
	font-size: 32rpx;
	font-weight: 600;
	margin-bottom: 16rpx;
}
.desc, .tips {
	font-size: 26rpx;
	color: #666;
	margin-bottom: 16rpx;
}
.btn {
	margin-top: 8rpx;
}
.error {
	color: #e54d42;
	margin-top: 16rpx;
}